body{
  font-family: 'Open Sans', sans-serif;
  font-size: 13px;
  font-weight: 400;
  line-height: 21px;
  background-color: #F9F9F9;
}

a{
	text-decoration: none;
}

button{
	border: none;
	outline: none;
}

.clearfix{
  *zoom: 1;
}

.clearfix:before{
  content: '';
  display: table;
}

.clearfix:after{
  content: '';
  display: table;
  clear: both;
}

.container{
  width: 1060px;
  margin: auto;
  padding: 50px 45px 50px 45px;
  background-color: #FFF;
  box-shadow: 0 5px 5px rgba(0, 0, 0, 0.3);
}

.logo{
  margin-bottom: 40px;
}

.header_navi{
  margin-bottom: 40px;
}

.navi_lst{
  margin: 0;
  padding: 0;
  font-size: 0;
  background-image: linear-gradient(to top, #444343 0%, #5E5E5E 100%);
}

.navi_itm{
  display: inline-block;
  font-size: 13px;
  line-height: 40px;
  list-style: none;
}

.navi_itm:hover{
  background-image: linear-gradient(to top, #2E2E2E 0%, #4A4A4A 100%);
}

.navi_itm_active{
  background-image: linear-gradient(to top, #2E2E2E 0%, #4A4A4A 100%);
}

.navi_itm_underline{
  text-decoration: underline;
}

.navi_lnk{
  display: block;
  padding: 0 40px;
  height: 100%;
  color: white;
  text-shadow: 0.5px 0.9px 1px rgba(0, 0, 0, 0.5);
}


.aside{
  float: left;
  margin-right: 50px;
  width: 240px;
}
.aside_lst{
  margin: 0;
  padding: 0;
  list-style: none;
}
.aside_itm{
  display: block;
  border-bottom: 1px solid #C8C8C8;
  border-right: 1px solid #C8C8C8;
  border-left: 1px solid #C8C8C8;
}
.aside_itm:hover{
  padding-left: 15px;
  background-color: #F9F9F9;
  color: #2c2c2c;
}
.aside_itm:first-child{
  border-top: 1px solid #C8C8C8;
}
.aside_lnk{
  padding: 10px 0;
  padding-left: 25px;
  display: block;
  color: #656363;
}

.main_w{
  float: right;
}
.main-info_img{
  padding: 50px 89px;
  border: 1px solid #C8C8C8;
}
.main-info_paragraph{
  max-width: 650px;
  margin-top: 30px;
}

.footer_navi{
  margin-top: 60px;
}

.footer_navi_lst{
  margin: 0;
  padding: 0;
  background-image: linear-gradient(to top, #E1E1E1 0%, #E1E1E1 100%);
}

.footer_navi_itm:hover{
  background-image: none;
  text-decoration: underline;
}

.footer_navi_lnk{
  color: #2C2C2C;
}

.footer_navi_lnk_active{
  text-decoration: underline;
}

.copyright{
  float: right;
  padding: 0 40px;
}

.copyright:hover{
  background-color: #E1E1E1;
  text-decoration: none;
}











